<div class="ui grid container">
  <div class="sixteen wide column">
    <h1 class="ui header">{{model.title}}</h1>
    <p class="meta">{{{markdown-to-html markdown=model.excerpt}}}</p>
    {{{markdown-to-html markdown=model.body}}}
  </div>
</div>