{{#pl-uploader for='upload-image' extensions='jpg jpeg png gif' when-queued='uploadImage' as |queue dropzone|}}
  <button id='upload-image' class='ui small button'>Upload an Image</button>
{{/pl-uploader}}