<hr>
<footer>
  {{yield}}
  <p>Gallery13 811 LaSalle Avenue. Minneapolis MN 55402</p>
  <p>651-592-5503 <a href="mailto:info@gallery13.com">info@gallery13.com</a></p>
  <p>&copy; 2009 - 2015 Gallery 13. All rights reserved.</p>
</footer>
