<div class="ui grid container">
  <div class="column">
    <div class="ui divider"></div>
  </div>
</div>
<div class="ui grid container">
  <div class="ui row">
    <div class="eight wide column">
      <p>Gallery13 811 LaSalle Avenue. Minneapolis MN 55402<br>
        651-592-5503 <a href="mailto:info@gallery13.com">info@gallery13.com</a>
      </p>
    </div>
    <div class="eight wide column">
      <p>&copy; 2009 - 2015 Gallery 13. All rights reserved.</p>
    </div>
  </div>
</div>

{{yield}}

