{{#if session.isAuthenticated}}
  <div class="ui six wide menu">
    {{#link-to 'admin' class="item"}}
        <span class="glyphicon glyphicon-home icon-large"></span>
        <p>Admin Home</p>
    {{/link-to}}
    {{#link-to 'admin.blog' class="item"}}
        <span class="glyphicon glyphicon-th-list icon-large"></span>
        <p>Edit Blog</p>
    {{/link-to}}
    {{#link-to 'admin.events' class="item"}}
        <span class="glyphicon glyphicon-calendar icon-large"></span>
        <p>Edit Events</p>
    {{/link-to}}
    {{#link-to 'admin.artists' class="item"}}
        <span class="glyphicon glyphicon-user icon-large"></span>
        <p>Edit Artists</p>
    {{/link-to}}
    {{#link-to 'admin.pages' class="item"}}
        <span class="glyphicon glyphicon-text-background icon-large"></span>
        <p>Edit Pages</p>
    {{/link-to}}
    {{#link-to 'admin.users' class="item"}}
        <span class="glyphicon glyphicon-sunglasses icon-large"></span>
        <p>Site Users</p>
    {{/link-to}}
  </div>
  {{outlet}}
{{else}}
  {{login-panel}}
{{/if}}
