.horizontal.scrolled {
    width: 100%;
    display: inline-flex !important;
    overflow: scroll;
}

.horizontal.scrolled.outer {
  width: 100%;
  margin: auto;
  overflow-y: hidden;
  overflow-x: scroll
}

.horizontal.scrolled.inner {
  float: left;
  margin: auto;
  overflow-y: hidden;
  overflow-x: scroll;
  display: inline-flex;
}

.horizontal.scrolled > .item {
  float: left
}

