<div class="ui grid">
  <div class="ui row">
    <div class="four wide column">
        <p>Artist Manager</p>
    </div>
    <div class="four wide column">
      {{#link-to 'admin.artists.new' classNames="ui small button"}}
        New Artist
      {{/link-to}}
    </div>
  </div>
</div>
<div class="ui link cards">
  {{outlet}}
  {{#each model as |artist|}}
      {{artist-card artist=artist }}
  {{/each}}
</div>
