<div class="ui grid" style="min-height: 200px;">
  <div class="sixteen wide column">
    <div class="ui segment">
      <div class="ui active inverted dimmer">
        <div class="ui large text loader">Loading</div>
      </div>
      <p></p>
      <p></p>
      <p></p>
    </div>
  </div>
</div>
