<div class="line-after"><h2>New event: {{title}}</h2></div>
<div class="row">
    <div class="col-xs-12" style="">
        {{partial 'admin/events/edit-event'}}
    </div>
</div>
<div class="row">&nbsp;</div>
{{outlet}}