<div class="line-after"><h2>Edit event. {{title}}</h2></div>
<div class="row">
    <div class="col-xs-12" style="">
        {{partial 'event-manager/edit-event'}}
    </div>
</div>
<div class="row">&nbsp;</div>
{{outlet}}
