<div class="ui grid">
  <div class="sixteen wide column">
    {{#if session.isAuthenticated}}
      {{#link-to 'admin.pages.edit' model classNames="floated right"}}edit{{/link-to}}
    {{/if}}
    <h1 class="ui header">{{model.title}}</h1>
  </div>
  <div class="eight wide column">{{{markdown-to-html markdown=model.excerpt}}}</div>
  <div class="eight wide column">{{{markdown-to-html markdown=model.body}}}</div>
</div>