<div class="container">
    <div class="page-header">
        <h2>Create Artist</h2>
    </div>
    {{partial "admin/artist/form"}}
    <button class="btn btn-default" {{action 'updateArtist' model}}>Update Artist</button>
</div>
