<h2>events</h2>
<p>This would should a lit of events, where we can show more detail than we have on the home page.</p>
<p>This is a good opportunity to take a lot of the tet contained in the feature image and put it in plain text for search engines (that can't read text inside of images)</p>
{{outlet}}
